# The URL the frontend uses to connect to the backend API.
API_BASE_URL=http://localhost:5000/api # Current sa development sa local environment. Update this URL when deploying to production or if your backend is hosted elsewhere.