# For the MySQL Image (The Lock)
MYSQL_ROOT_PASSWORD=your_secure_password
MYSQL_DATABASE=woman_db

# For your Node.js code (The Key)
DB_HOST=db
DB_USER=root
DB_PASSWORD=your_secure_password
DB_NAME=woman_db

JWT_SECRET=your_jwt_secret_key
ALLOWED_ORIGIN=http://localhost:3000

# Storage Path Configuration
STORAGE_PATH=/app/storage