# For the MySQL Image (The Lock)
MYSQL_ROOT_PASSWORD=your_secure_password
MYSQL_DATABASE=woman_db

# For your Node.js code
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_secure_password
DB_NAME=woman_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES=8h
ALLOWED_ORIGIN=http://localhost:3000

# Storage Path Configuration
STORAGE_PATH=/app/storage

# SMTP Configuration for Email Notifications
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM="SMSI Support <no-reply@smsi.com>"
