# Application Port
PORT=5000

# Backend Database Config (Used by Node.js Server)
DB_HOST=db
DB_USER=woman_user
DB_PASSWORD=woman_pass
DB_NAME=woman_db
DB_PORT=3306

# Docker MySQL Container Config (Used by the MySQL Image)
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=woman_db
MYSQL_USER=woman_user
MYSQL_PASSWORD=woman_pass

JWT_SECRET=your_jwt_secret_key
ALLOWED_ORIGIN=http://localhost:3000


# Storage Path Configuration
STORAGE_PATH=/app/storage

# SMTP Configuration for Email Notifications
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM="SMSI Support <no-reply@smsi.com>"
